# IDE
.idea/

# Node
node_modules

# Auth
credentials.json
token.json
ExternalArt/Gabriel Pickard;Slap-Down Town 
ExternalArt/Gabriel Pickard;Quick Encounter 
ExternalArt/Gabriel Pickard;Quick Encounter 
ExternalArt/Gabriel Pickard;Quick Encounters 
ExternalArt/Paul Weber;Decks 
ExternalArt/Gabriel Pickard;Slap-Down Town 
Module/Default_Game__shaped_.json
ExternalArt/Gabriel Pickard;Quick Encounters 
ExternalArt/Gabriel Pickard;Quick Encounter 
